<div class="mt-4 from">
  <form method="POST" action="">
    <div class="form-group">
      <label for="search-input">Từ khóa</label>
      <input
        name="q"
        type="text"
        class="form-control"
        id="search-input"
        placeholder="Enter your keyword ..."
      />
    </div>
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
  </form>
</div>